body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 152, 134);
}

.the_footerman {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    padding-top: 30px;
    background-color: #0D2C3B;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.the_footerman_text {
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}

.the_foot_of_the_footerman {
    width: 100%;
    height: 70px;
    padding-bottom: 30px;
    background-color: #092330;
    color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

#articles_insert_form {
    padding: 20px;
}

.superheader {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(233, 128, 128, 0.31);
    border-radius: 10px 10px 0px 0px;
    background-color: #04AA6D;
    height: 55px;
    width: auto;
}

.header_bar {
    background-color: #994f4f;
    height: 55px;
}

.header_logo {
    height: 115px;
    width: auto;
}

.bar_bar {
    background-color: rgb(211, 130, 116);
    height: 61px;
    border-radius: 0px 0px 10px 10px;
}

.bar_bar a {
    float: right;
    color: #ca5959;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.bar_bar a:hover {
    background-color: #ca5959;
    color: black;
}

.bar_bar a.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (max-width: 414px) {
    .bar_bar {
        background-color: #ffbb00;
    }
    .bar_bar a {
        background-color: #ffbb00;
    }
}

.titre_petit {
    line-height: 80%;
    font-style: italic;
}

.index_portrait_container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.fit_picture_index {
    width: 20%;
}

.fit_picture_legend_index {
    width: 20em
}

.articles_portrait_container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.intro {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.2
}

.output_container {
    background-color: turquoise;
    height: 100%;
    width: 100%;
    padding: 5%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.container_main {
    background-color: turquoise;
    padding: 5px;
    border: solid;
    margin-top: 5vh;
    border-radius: 10px;
}

.container_signin {
    background-color: turquoise;
    padding: 5px;
    border: solid;
}

.background_contact {
    background-color: #7fab66;
    background-image: url('scarlet_macaw_circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form_stuff {
    background-color: rgba(64, 170, 170, 0.877);
    display: block;
    margin: 60px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    border-style: dotted;
    margin-right: auto
}

.form_stuff_pseudo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dotted;
}

.form_stuff_mail {
    width: 100%;
}

.form_stuff_sujet {
    width: 100%;
}

.form_stuff_test {
    width: 100%;
}

.form_stuff_message {
    width: 100%;
}

.form_stuff_submit {
    width: 100%;
    border-style: dotted;
}

.register_form_background_pic {
    background-color: #7fab66;
    background-image: url('exotic_parrot_cropped.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main_articles_content_wrapper {
    background-color: purple;
    position: relative;
    max-width: 1500px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}

.main_content_side_left {
    float: left;
    background-color: khaki;
    border-top-width: 50px;
    border-style: solid;
    border-color: green;
    border-radius: 10px 10px 0px 0px;
    max-width: 25%;
    max-height: 20%;
    min-width: 25%;
    padding: 20px;
}

.main_content_side_left_box {
    border-width: 1px;
    border-style: solid;
    background-color: brown;
    border-color: rgba(233, 128, 128, 0.31);
    border-radius: 10px 10px 0px 0px;
}

.main_content_side_right {
    float: right;
    background-color: lavender;
    border-top-width: 50px;
    border-style: solid;
    border-color: red;
    border-radius: 10px 10px 0px 0px;
    max-width: 65%;
    max-height: 20%;
    min-width: 65%;
    padding: 20px;
}

.main_content_side_right_box {
    display: flex;
    flex-direction: column;
}

.rectangle_page_category {
    display: flex;
    flex-direction: column;
    background-color: gold;
    padding: 20px;
    margin-bottom: 3%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 1, 1, 0.31);
    border-radius: 10px;
}

.rectangle_article_container {
    min-height: 200px;
    background-color: blue;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 1, 1, 0.31);
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.actual_article_output_box {
    float: right;
    margin-top: auto;
    background-color: yellow;
    width: 750px;
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: yellow;
}

.very_real_article_author {
    display: flex;
    flex-direction: column;
    background-color: darkorchid;
    padding-left: 5%;
    padding-right: 1%;
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: darkorchid;
    width: fit-content;
}

.very_real_article_titre {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 234);
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 0, 234);
    padding-left: 5%;
    margin-top: 10px;
}

.very_real_article_sommaire {
    display: flex;
    flex-direction: column;
    background-color: #41cc81;
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #41cc81;
    padding-left: 5%;
    margin-top: 2px;
    margin-left: 20px;
}

.square {
    float: left;
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    margin-right: 15px;
}

.super_container {
    width: 100%;
}