body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 152, 134);
}

.the_container {
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
    position: relative;
}


/*.index_background {
    background-color: rgb(255, 152, 134);
    padding: 20px;
    height: 100%;
    display: block;
    bottom: 0;
    margin: 0;
}*/

footer {
    width: 100%;
    bottom: 0;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0D2C3B;
    color: white;
    text-align: center;
    /* position: absolute; */
}

#articles_insert_form {
    padding: 20px;
}

.superheader {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(233, 128, 128, 0.31);
    border-radius: 10px 10px 0px 0px;
    background-color: #04AA6D;
    height: 55px;
    width: auto;
    margin-left: 10px;
}

.header_bar {
    background-color: #994f4f;
    height: 55px;
    margin-left: 10px;
}

.header_logo {
    height: 115px;
    width: auto;
}

.bar_bar {
    background-color: rgb(211, 130, 116);
    height: 60px;
    margin-left: 10px;
    border-radius: 0px 0px 10px 10px;
}

.bar_bar a {
    float: right;
    color: #ca5959;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.bar_bar a:hover {
    background-color: #ca5959;
    color: black;
}

.bar_bar a.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (max-width: 414px) {
    .bar_bar {
        background-color: #ffbb00;
    }
    .bar_bar a {
        background-color: #ffbb00;
    }
}

.titre_petit {
    line-height: 80%;
    font-style: italic;
}

.fit_picture_index {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.fit_picture_legend_index {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 20em
}

.intro {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.2
}

.output_container {
    background-color: turquoise;
    height: 100%;
    width: 100%;
    padding: 5%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.container_main {
    background-color: turquoise;
    padding: 5px;
    border: solid;
}

.container_signin {
    background-color: turquoise;
    padding: 5px;
    border: solid;
}

.background_contact {
    background-color: #7fab66;
    background-image: url('scarlet_macaw_circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.form_stuff {
    background-color: rgba(64, 170, 170, 0.877);
    display: block;
    margin: 60px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    border-style: dotted;
    margin-right: auto
}

.form_stuff_pseudo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: dotted;
}

.form_stuff_mail {
    width: 100%;
}

.form_stuff_sujet {
    width: 100%;
}

.form_stuff_test {
    width: 100%;
}

.form_stuff_message {
    width: 100%;
}

.form_stuff_submit {
    width: 100%;
    border-style: dotted;
}

.register_form_background_pic {
    background-color: #7fab66;
    background-image: url('exotic_parrot_cropped.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main_content_wrapper {
    background-color: purple;
    position: relative;
    max-width: 1450px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}

.main_content_side_right {
    float: right;
    border-top-width: 50px;
    border-style: solid;
    border-color: red;
    border-radius: 10px 10px 0px 0px;
}

.main_content_side_right_box {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(233, 128, 128, 0.31);
    border-radius: 10px 10px 0px 0px;
}